@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto;
    color: white;
}

body{
    background-color: rgb(29, 29, 29);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2{
    text-align: center;
}
.sopa{
    max-width: 1500px;
    min-width: 200px;
    width: 50%;
    height: 50%;
    box-shadow: 5px 5px 5px black;
    margin-left: auto;
    margin-right: auto;
}

.letra{
    background-color: #003399;
    display: inline-block;
    text-align: center;
    width: 6.66%;
    font-size: 1em;
    padding: 5px 0;
    cursor: pointer;
    border: 2px solid black;
}
.letra:hover{
    background-color: #99ff99;
    color: black;
}
    
.seleccionado {
    background-color: white;
    color: black;
}

.completado{
    background-color: red;
    color: white;
}

.palabras, .sopa{
    display: inline-block;
    margin-left: 12.5%;
}
.palabras{
    border: 1px dashed white;
    height: 50%;
}
.palabra{
    font-size: 2em;
    text-align: center;
    padding: 5px;
}

.encontrada{
    text-decoration: line-through;
    color: gray;
}




















